.container {
  margin-left: 300px;
  margin-right: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
 
}

.accordion {
  margin-left: auto;
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: 1px solid #ccc;
  outline: none;
  transition: background-color 0.6s ease;
}

.active, .accordion:hover {
  background-color: #ccc;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.6s ease-out;
}

.accordion-content p {
  margin: 0px;
}
